*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* font-family: poppins; */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    background-color: rgb(56,58,90);
    height:80px;
}
.navbar ul{
    width:100%;
    height: 100%;
    display:flex;
    color:white;
    margin-left: 200px;
    padding-top: 20px;
}
.navbar ul li{
    list-style: none;
    margin-left: 30px;
    margin-right: 20px;
    font-size:18px;
}
.navbar span{
    width:49px;
    height:3px;
    background-color: white;
    position:absolute;
    margin-top: 25px;
    margin-left: 28px;
    
}
.navbar span:nth-child(4){
    margin-left: 120px;
}
.navbar span:nth-child(6){
    margin-left: 220px;
    width:42px;
}
.navbar span:nth-child(8) {
    margin-left: 310px;
    width: 76px;
}
.navbar span:nth-child(10){
    margin-left: 433px;
    width:78px;
}
.navbar span:nth-child(12){
    margin-left: 559px;
    width: 59px;
}
.home{
    width:100%;
    background-color: rgb(56,58,90);
    color:white;
    display:flex;
    overflow-x: hidden;
}
.home .left,.right{
    width: 50%;
}
.home .left{
    padding-left: 15%;
    padding-top: 100px;
}
.home .left h1{
    font-size: 54px;
    margin-top: -30px;

}
/* .home .left:hover h1{
    margin-top: 0px;
    transition: all 0.5s ease-in-out;
} */
.home .left button{
    height:40px;
    width:200px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 40px;
}
.scroll-down{
    display:flex;
    transform:rotateZ(-90deg);
    margin-left: -503px;
    margin-top: -209px;
    font-size: 22px;
}
.scroll-down i{
    padding-right:10px;
}
.home .right{
    margin-top: 50px;
    padding-left: 30px;
}


.about{
    width:100%;
    padding-top: 80px;
    padding-bottom: 100px;
}
.about .about-head{
    text-align: center;
    color: rgb(42,59,71);
}
.about .about-head div{
    width:  70px;
    height:3px;
    background-color: rgb(42,59,71);
    margin-left: 725px;

}
.about-content{
    display:flex;
    width:70%;
    margin:auto;
    padding-top: 100px;
}
.about-images{
    width:50%;
    padding-left: 150px;
}
.about-images img{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: rgb(56,58,90);

}
.about-content div:nth-child(2){
    width:50%;
    color:rgb(122,132,134);

}

.about-content div:nth-child(2) h1{
    font-size: 35px;
    margin-bottom: 17px;
    color: rgb(56,58,90);
}
.about-content div:nth-child(2) p:nth-child(2){
    margin-bottom: 20px;
}
.about-content div:nth-child(2) p:nth-child(3){
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}
.social-icons i{
    font-size: 25px;
    margin-left: 10px;
    color:rgb(56,58,90);
}
.social-icons i:hover{
    color:rgb(122,132,134);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}